html,body {
	background-color: #000;
}

#body {
	margin-top:55px;
}

#activity-image {
	margin-top: 10px;
}

#ourmission {
	background-color: grey;
	height: 100px;
}
#footer {
	background-color: #000;
}
.img {
	height: 200px;
}
.img img {
	height: 100%;
	width: 100%;
}
.activity {
	background-color: lightgrey;
}
.gallery {
	height: 100px;
}
.gallery:nth-child(1) {
	background-color: #fea314;
}
.gallery:nth-child(2) {
	background-color: #6ba439;
}
.gallery:nth-child(3) {
	background-color: #45c4b1;
}
#slide {
	padding-left: 0px;
}
#sidebar {
	padding-right: 0px;
}
.img-desc {
	margin-bottom: 20px;
	margin-top: 10px;
}
@media screen and (max-width: 740px) {
	.gallery {
		height: 50px;
	}
	#slide {
		padding-left: 15px;
	}
	#slidebar {
		padding-right: 15px;
	}
	.gallery:nth-child(1),
	.gallery:nth-child(2),
	.gallery:nth-child(3) {
		width: 30%;
		float: left;
	}
	.gallery div {
		font-size: 14pt;
		padding-top: 5px;
	}
	.gallery p {
		font-size: 10pt;
	}
}
.activity:nth-child(1) {

}
h3 {
	margin-top: 10px;
}
.gallery div {
	text-align: center;
	font-family: Segoe UI;
	font-size: 18pt;
	font-weight: bold;
	color: #fff;
	margin-bottom: -5px;
	padding-top: 15px;
}
.gallery p {
	text-align: center;
	font-family: Segoe UI;
	font-size: 14pt;
	color: #fff;
	font-weight: lighter;
}